@import url("base/global.css");

/*
This file contains the unique styles needed for example.html which do not appear in /css/global.css
----------------------------------------------------------------------------------------
*/

html { 
  background: #ccc;
  }
  
body {
	font-family: Arial, Helvetica, sans-serif;
	}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
h1 {
  font-size: 1.8em;
  line-height: 3em;
  color: #65696b;
  margin-bottom:0.3em;
  }
  
h3 { text-transform:uppercase; letter-spacing:0.12em; }
h3, h4, h5, h6 { font-weight: bold; }

header { text-align:center; }

ol {list-style: none;}

footer {
  margin:1.618em 0 0;
  padding: 1.618em 0 0;
  }
  
footer p { margin-right:1em; }

.screen form ol, .screen form ol {margin:0;}

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
  


.screen .DashboardLogin:first-child {
	background: #43869c url(images/bg.screen.jpg) no-repeat;
	-webkit-box-shadow: 0 8px 16px rgba(35,31,32,0.5);
	-moz-box-shadow: 0 8px 16px rgba(35,31,32,0.5);
	-o-box-shadow: 0 8px 16px rgba(35,31,32,0.5);
	box-shadow: 0 8px 16px rgba(35,31,32,0.5);
	/*padding: 0 5em 8em 5em;*/
	padding-bottom:8em;
	text-align:center;
	}
	.screen .DashboardLogin:first-child .login {
		background: #e3edf0 url(images/bg.DashboardLogic.png) repeat-x;
		-webkit-box-shadow: 0 5px 14px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 5px 14px rgba(0,0,0,0.2);
		-o-box-shadow: 0 5px 14px rgba(0,0,0,0.2);
		box-shadow: 0 5px 14px rgba(0,0,0,0.2);
		margin: 0 auto;
		padding: 1.15em;
		}
			.screen .DashboardLogin .login form li {padding-bottom: 1.618em;}
			.screen .DashboardLogin .login form label { display:none; }
			/*.screen .DashboardLogin .login .form form label {display:block; font-weight:bold;}*/
			.screen .DashboardLogin .login .form form input {display:inline-block; padding: .3em; width: 90%;}
			.screen .DashboardLogin .login form .help {display:block;}
			.screen .DashboardLogin .login form .primary {width: 93%;}





.validation-summary-valid { display:none; }

a.button, button, .ui-button {
color: #fff;
background:#357d95;
font: .85em Helveitca, Arial, sans-serif;
height: 32px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
/*width: 100px;
min-width: 100px;*/
border: none;
text-shadow: none;
-webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
white-space: nowrap; /* forces labels that recive .ui-button to not collapse */
}
.ie6 .ui-button { left: 0 }
a.button:hover , button:hover, button.hover, .ui-button.ui-state-hover {background:#48A7C7}
button, .ui-button {/*min-width:100px;width: 100px*/}
a.button.auto, button.auto, .auto.ui-button {/*min-width: 100px;*/ width: auto;}
a.button:hover, .ui-state-hover {text-decoration:none}
a.button.primary, button.primary, .primary.ui-state-hover  {background:#ff9900}
a.button.primary:hover, button.primary:hover, button.primary.hover, button.primary.ui-state-hover, a.primary.ui-state-hover {background:#FFC300}
.secondary {}
a.ui-button-text-only .ui-button-text {padding: .4em 1em;}